
.carousel { height: calc(100vh - 50px);}
.carousel-inner,.carousel-item { height: 100%;}
.carousel-item { background-color: #000;}
.carousel-item img { height: 100%; object-fit: cover; object-position: center;}

#about-us-page {
    overflow: hidden;
    background-image: url("./assets/tree.png");
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
}

#about-us-page img{
    width: 100%;
    height: auto;
    border-radius: 12%;
}

#logo{
    margin-left: 40px;
    width: 30%;
    height: 30%;
}

#header-body a {
    color: #009148;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-right: 30px;
    text-decoration: none;
    
}

#header-body a:hover {
    color: #04e06f;
    text-decoration: none;
}

#about-us-page h1 {
    color: white;
    padding-top: 30%;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-left: 10%;
    font-weight: 700;
}

#about-us-page p {
    color: white;

    padding-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 10%;
    font-weight: 500;
    text-align: justify;
}

#concepts-page{
    width: 100%;
    height: 100%;
    background-image: url("./assets/concepts.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: contain;
    background-size: cover;
    
}

#concepts-page h1{
    color: white;
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    padding-left: 3%;
    font-size: 60px;
    font-weight: 700;
}

#concepts-page h2 {
    color: #04E06F;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

#concepts-page h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;

}
#concepts-page strong {
    color: #04E06F;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

#concepts-page p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#conepts-itens>div{
    text-align:center;
}


.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-2 iframe{
    left:0;
    top:0;
    height:80%;
    width:100%;
    position:absolute;
}

div#mapa {
    background-color:#f7f7f7
}


div#carouselSlidesOnly {
    background-color:#898c8f
}

.carousel-content {
    position: absolute;
    bottom: 40%;
    left: 5%;
    z-index: 20;
}



button.navbar-toggler {
    margin-right: 7%;
}

.navbar-nav {
    padding-left:40px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    .carousel-content h1{
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: 700;
    }

    body #about-us-page h1 {
        padding-top: 10%;
        font-size: 30px;
        font-weight: 700;
    }

    body #about-us-page p {
        padding-top: 10%;
        font-size: 15px;
        padding-right: 10%;
    }

    body #about-us-page img {
        margin: 0%;
        width: 80%;
        height: 80%;
    }

    body #concepts-page h1 {
        padding-top: 10%;
        font-size: 30px;
        font-weight: 700;
    }

    body #concepts-page h2 {
        padding-top: 10%;
        font-size: 50px;
        font-weight: 700;
    }

    body #concepts-page h3 {
        padding-top: 10%;
        font-size: 28px;
        font-weight: 700;
    }

}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
    margin-right:30px;

}
.carousel-content h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
}